<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Корпус статей belrab.ru</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--  link rel=stylesheet type=text/css href={{url_for('static', filename='bootstrap.min.css')}} -->

    </head>

    <body>

        <div class="jumbotron text-center">
          <h1>Корпус</h1>
          <p>по газете belrab.ru</p>
          <p>developer: Маша Цфасман</p>  
        </div>

        <!--form-->
            <form class="container" action={{url_for('search')}} method="get">
                <h2> Поиск </h2> <br>
                <div class="form-group">
                    <input  name="request" type="text" class="form-control" placeholder="что найдем?" id="search" >
                </div>
                <button name="submit" type="submit" class="btn btn-success"> Искать </button>
            </form>
        <!--/form -->



    </body>
</html>
