<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Корпус статей belrab.ru : Результаты поиска</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- link rel="stylesheet" href={{url_for('static', filename='css/bootstrap.css')}} -->

    </head>


    <body>

        <div class="container-fluid" >
        <div class="row content">
            <div class="col-sm-2 sidenav" style="background-color:#66ccff;">

        <div class="text-center">
            <h1>Корпус</h1>
          <p>по газете belrab.ru</p>
          <p>developer: Маша Цфасман</p>  
            <br>
        </div>

        <form action={{url_for('search')}} method="get">
            <h4> Поиск </h4>

            <div class="input-group">
                <input name="request" type="text" class="form-control" placeholder="что ищем?">
                <span class="input-group-btn">
                  <button name="submit" class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
            </div>
            <br><br><br>
        </form>
                
        
    </div>



    <div class="col-sm-9">

        <h2> Результаты поиска <span class="badge"> {{results_num}}</span> </h2>

        {%if results_num != 0%}
            <div class="container">
                <ul class="list-group">
                    {%for line in results%} 
                        <div>
                                <ul class="list-group">
                                 
                                    <a href="{{results[line]}}" class="btn btn-info"> {{line}} </a>
                                 </ul>
                        </div>
                    
                    {%endfor%}
                </ul>
            </div>


            {%else%}
                <div class="container">
                    <p> Ничего не найдено :( </p> 
                </div>

        {%endif%}
    </div>
        </div>
        </div>
    </body>
</html>